---
layout: section
title: "News"
main_title: "Home"
---
<!-- about part start-->
<section class="full-width">

	<section class="jumbotron jumbotron-fluid" style="background-color: white;">
		<div class="full-width side-gap towers">

			<div class="row" style="margin: 2rem auto">

				<style>
					.news-page-cards {
						padding: 2%;
						margin: 2%;

					}

					.news-page-cards img {
						transition: 0.3s;
						margin: 2%;
					}

					.news-page-cards img:hover {
						box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
					}

					.news-page-cards h6 {
						padding-top: 2%;
						padding-bottom: 2%;
					}
				</style>


				{% assign count = 0 %}

				{% for post in site.posts %}
				{% if count == 6 %}
				{% break %}
				{% endif %}

				<div class="col-lg-4">
					<div class="news-page-cards">
						<h3 class="text-center">{{ post.title }}</h3>
						<h5 class="text-center text-muted">{{post.date | date: "%d %b %Y"}}</h5>
						<hr class="highlight">
						<img class="d-block w-100 desk" src="./assets/images/news/{{post.img_1}}" alt="First slide">
						<h6>{{ post.content }}</h6>
						<div class="text-center">
							<a class="btn btn-light btn-xl js-scroll-trigger shadow"
								href="{{ post.url | absolute_url }}">
								<h4>More</h4>
							</a>
						</div>
						<hr>
					</div>

				</div>
				{% assign count = count | plus: 1 %}
				{% endfor %}

				<div class="col-lg-12 text-center">
					<a class="btn btn-light btn-xl js-scroll-trigger shadow" href="./news-more.html">
						<h4>News Archives</h4>
					</a>
				</div>

			</div>
		</div>
	</section>
</section><!-- about part start-->
