/*============- HOVER CSS Part -=================== */

/* Grow Shadow */

.gallery {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.gallery:hover,
.gallery:focus,
.gallery:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.gallery img {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-----========== Modal image =============--*/

/* Style the Image Used to Trigger the Modal */

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
  margin: auto;
  display: block;
  margin-top: 5%;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */

.close {
  position: absolute;
  top: 80%;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* ============ FACULTY PAGE =======================*/

.faculty .name-heading {
  text-shadow: 1px 1px 1px blue;
}

.faculty h3 {
  padding-top: 10px;
}

.faculty img {
  margin: 5%;
  border-radius: 10%;
  width: 90%;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.faculty-contact {
  font-size: 20px;
  margin: 5%;
  padding: 10%;
  width: 80%;
}

/* Grow Shadow */

.faculty-contact {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  background-color: rgb(66, 130, 250);
}

.faculty-contact a {
  color: rgb(134, 236, 223);
}

.faculty-contact:hover,
.faculty-contact:focus,
.faculty-contact:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.faculty-experience {
  padding: 5%;
}
.faculty-experience h4 {
  padding-top: 10px;
}
.faculty-education {
  padding: 5%;
}

.faculty-education h4 {
  padding-top: 10px;
}

/* =============== Home Page Faculty =====================*/
/* .home-page-faculty-card{
    padding:1%;
    margin:5%;
    border-radius: 5%;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    background-image: linear-gradient(120deg, #eef5ff 0%, #a1e0ff 100%);
}

.home-page-faculty-card img{
    width:80%;
    margin:10%;
    border-radius: 50%;
}

.home-page-faculty-card:hover,.home-page-faculty-card:focus, .home-page-faculty-card:active{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
} */

/*================= page scrollbar start ================*/
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fcd4d4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c2f7f;
}

/*================= footer ================*/

.footer-heading {
  border-bottom: 2px solid white 30%;
}

a.footer-item:hover,
a.footer-item:active {
  font-size: 120%;
}

a.footer-icon:hover,
a.footer-icon:active {
  font-size: 120%;
}

a.footer-bottom:hover,
a.footer-bottom:active {
  font-size: 110%;
}

@media only screen and (max-width: 600px) {
  a.footer-bottom {
    font-size: 16px;
  }

  .title {
    font-size: 25px;
  }

  .footer-links {
    padding-top: 20px;
  }

  a.footer-bottom:hover,
  a.footer-bottom:active {
    font-size: 110%;
  }
}

/* ============ HOVER BUTTON =================== */
.hover-button {
  margin: 5%;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(49, 47, 161, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hover-button:hover,
.hover-button:focus,
.hover-button:active {
  box-shadow: inset 0 0 0 4px #2b2d7f, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* ===================== NEWS INDEX CARDS ================ */
.index-news-cards {
  margin: 7%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgba(31, 38, 135, 0.37);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.index-news-cards:hover {
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
  box-shadow: rgb(95, 73, 145) 0px 15px 30px 4px;
}
.index-news-cards img {
  width: 100%;
  border-radius: 10px;
}

.index-news-cards-content {
  padding: 10% 5% 5% 5%;
}
.index-news-cards p {
  margin: 15px;
  overflow: hidden;
  max-height: 140px;
  text-overflow: ellipsis;
}
/* ==================================== */
/* Home Page Landing text */
/* ==================================== */
.home-landing-text h1 {
  font-family: "Orelega One", cursive;
  color: whitesmoke;
  text-shadow: 4px 4px #000000;
  font-weight: 900;
}

/* ================== This part will be used in future ======================*/

.main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 226px 0px 120px 0px;
  position: relative;
  overflow: hidden;
}

.main-banner:after {
  content: "";
  background-image: url(../images/images/baner-dec-left.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 100px;
  width: 193px;
  height: 467px;
}

.main-banner:before {
  content: "";
  background-image: url(../images/images/baner-dec-right.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 100px;
  width: 98px;
  height: 290px;
}

.main-banner .left-content {
  margin-right: 45px;
}

.main-banner .left-content h6 {
  text-transform: uppercase;
  font-size: 18px;
  color: #fe3f40;
  margin-bottom: 15px;
}

.main-banner .left-content h2 {
  font-size: 50px;
  font-weight: 700;
  color: #2a2a2a;
  line-height: 72px;
}

.main-banner .left-content h2 em {
  color: #03a4ed;
  font-style: normal;
}

.main-banner .left-content h2 span {
  color: #fe3f40;
}

.main-banner .left-content p {
  margin: 20px 0px;
}

.main-banner .left-content form {
  margin-top: 30px;
  width: 470px;
  height: 66px;
  position: relative;
}

.main-banner .left-content form button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  color: #fe3f40;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  outline: none;
  border: none;
}

.main-banner .left-content form input {
  width: 470px;
  height: 66px;
  background-color: #03a4ed;
  border-radius: 33px;
  border: none;
  outline: none;
  padding: 0px 25px;
  color: #fff;
  letter-spacing: 0.25px;
  font-size: 15px;
  font-weight: 300;
}

.main-banner .left-content form input::placeholder {
  color: #fff;
}
