<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165669163-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-165669163-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="Indian Institute of Information Technology Raichur, Karnataka." <meta
        name="description"
        content="Indian Institute of Information Technology Raichur is one of the new IIITs proposed by the Ministry of Human Resource Development, Government of India, located at Raichur, Karnataka state. IIIT Raichur has started its academic activity in August 2019 with its first batch of Bachelor of Technology in Computer Science and Engineering. As the mentor institute, IIT Hyderabad is facilitating the functioning of IIIT Raichur in the IIT Hyderabad campus. The students are hosted in IIT Hyderabad campus and will attend classes at the Institute.">
    <title>{{ page.title }} | IIIT Raichur</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/logo.png">
</head>

<body>
    {% include navigation.html %}
    {% include breadcrump.html %}
    {{ content }}
    {% include footer.html %}
</body>

</html>